 <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
            <div class="card-body">

              <div class="table-responsive">

    <table id="example" class="table table-bordered table-striped display" style="width:100%">
        <thead>
            <tr>
                <th>Usuário</th>
		        <th>Procedimento</th>
		        <th>Num. Proced.</th>
		        <th>Data</th>
		        <th>Investigado(a)</th>
		        <th>Substância</th>
		        <th>Qtd.</th>
		        <th>Und.</th>
		        <th>Laudo</th>
		        <th>Vara</th>
		        <th>N° Processo</th>
		        <th>Lacre</th>
		        <th>Data Autorização</th>
		        <th>Caixa</th>
		        <th>Ofício</th>
		        <th>Delegacia</th>
            </tr>
        </thead>
    </table>
      </div>
    </div>
  </div>

</div>

<script>

$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": {
            "url": "http://localhost:3000/api/v1/entorpecentes",
            "dataSrc": ""
        },
        "columns": [
            { "data": "userName" },
            { "data": "procedimento" },
            { "data": "n_proced" },
            { "data": "data_entrada" },
            { "data": "investigado" },
            { "data": "substancia" },
            { "data": "quant" },
            { "data": "und" },
            { "data": "laudo" },
            { "data": "vara" },
            { "data": "n_processo" },
            { "data": "lacre" },
            { "data": "data_autorizacao" },
            { "data": "caixa" },
            { "data": "oficio" },
            { "data": "delegacia" }
        ]
    } );
} );

</script>
